In [13]:
x = 3
y = 9
z = x + y
print(z)

12

In [14]:
i = 1
j = 3
print(i+j)

4

In [15]:
x = 5
y = 10

z = x + y 

print("Hello world!")

print(z)

j = y/x

print(j)

Hello world!
15
2.0

In [16]:
print(type(z))

<class 'int'>

In [25]:
type_z = type(z)

print(type_z)

<class 'int'>

In [26]:
x = 5
x = 10

print(x)

10

In [23]:
x = x + 1
print (x)

15

In [28]:
a = 2

b = 3

a * b

c = a * b

print(c)

In [29]:
print(c)

6

In [30]:
Pi = 3.14

Area = Pi * 2**2

print(Area)

12.56

In [38]:
name = "Will"
hobby = "running"

outcome = name + hobby

print(outcome)

outcome_2 = f"My name is: {name}, and I like {hobby}."

print(outcome_2)

Willrunning
My name is: Will, and I like running.

In [36]:
dropdown = "CLAs "

Title = dropdown + "per year"

print(Title)

CLAs per year

In [41]:
Name = "Zivile"
Job = "Analyst"

Description = f"My name is, {Name}, and I work as an {Job}"

print(Description)

My name is, Zivile, and I work as an Analyst

In [ ]:
email = www.william@escc.gov.uk

filename  = "CLA_PLANS.cvs"

In [52]:
num_string = "123456789"

sub_string = num_string[1]

print(sub_string)

sub_string_rhs = num_string[-3]

print(sub_string_rhs)

#range
sub_range = num_string[3:7]
print(sub_range)

# steps between two numbers at a time
step_range = num_string[::2]
print(step_range)

#reverse
reverse = num_string[-1::-1]
print(reverse)

2
7
4567
13579
987654321

In [61]:
slice_this_phrase = "dog cat racoon"

dog = slice_this_phrase[0:3]
cat = slice_this_phrase[4:8]
racoon = slice_this_phrase[8:15]

print(cat)
print(dog)
print(racoon)

print(slice_this_phrase[0:3])
print(slice_this_phrase[4:8])
print(slice_this_phrase[8:15])

cat
dog
racoon
dog
cat
racoon

In [1]:
job_titles = {'Zivile':'Performance Analyst',
                     'Teigan':'Performance Officer',
                     'Felix':'Data Officer'}
# Here you can see I've stored strongs, lists, and even entire dictionaries inside strings                              
print(job_titles) 
print(list(job_titles)) # list(d) will print the keys, in order from a dictionary
print(job_titles.items()) # Prints all key:value pairs
print(job_titles.keys()) # Prints all keys
print(job_titles.values()) # Prints all values

{'Zivile': 'Performance Analyst', 'Teigan': 'Performance Officer', 'Felix': 'Data Officer'}
['Zivile', 'Teigan', 'Felix']
dict_items([('Zivile', 'Performance Analyst'), ('Teigan', 'Performance Officer'), ('Felix', 'Data Officer')])
dict_keys(['Zivile', 'Teigan', 'Felix'])
dict_values(['Performance Analyst', 'Performance Officer', 'Data Officer'])

In [ ]:
#session2